<h1><%= @still.name %></h1>

<%= image_tag @still.image.url, class: "show-image" %>
<br>
<%= link_to "Edit Still", edit_still_url %>
<ul>
  <% @still.list_tags.each do |tag| %>
    <li><%= tag %></li>
  <% end %>
</ul>
