<h1><%= @still.name %></h1>

<%= image_tag @still.image.url, class: "show-image" %>
<br>
<%= link_to "Edit Still", edit_still_url %>
<p>
  <% @still.list_tags.each { |tag| puts "#" + tag + " " }%></textarea>
</p>
