<div class="still-add">
  <h2 class="still-add__title">
    Add Still
  </h2>

  {{still-form
    create=(action 'create')
    cancel=(action 'cancel')
    model=still
    movies=movies
    store=store}}
</div>
