<h2 class="still-show__title">
  {{#link-to "dashboard.films.film" model.still.movie.title}}
    {{model.still.movie.title}}
  {{/link-to}}
</h2>

<img class="still-show__image" src="{{model.still.large_image_url}}"/>

<div class="still-show__tags">
  {{#each model.tags as |tag|}}
    {{#link-to 'dashboard.tags.tag' tag.id class="still-show__tag"}}
      <button>#{{tag.tag}}</button>
    {{/link-to}}
  {{/each}}
</div>
