<h1>Movie Search Results</h1>

<ul class="group still-list">
  <% if @search_results.empty? %>
    <li>No Search Results</li>
  <% end %>
  <% @search_results.each do |result| %>
    <li>
        <a href="<%= movie_url(result)%>"><%= result.title %></a>
    </li>
  <% end %>
</ul>
