<h1>Search Results</h1>
<ul>
  <% if @search_results.empty? %>
    <li>No Search Results</li>
  <% end %>
  <% @search_results.each do |result| %>
    <li>
        <% @still = Still.find_by_id(result.searchable_id) %>
        <a href="<%= still_url(@still)%>"><%= image_tag @still.image.url(:medium) %></a>
    </li>
  <% end %>
</ul>
