<form action="<%= search_url %>" method="get">
  <label for="search">Search Stills</label>
  <input type="text" name="query" id="search" value="">
  <button>Submit</button>
</form>
<h1>Stills Search Results</h1>
<%= paginate @search_results %>
<ul class="group still-list">
  <% if @search_results.empty? %>
    <li>No Search Results</li>
  <% end %>
  <% @search_results.each do |result| %>
    <li>
        <% @still = Still.find_by_id(result.searchable_id) %>
        <a href="<%= still_url(@still)%>"><%= image_tag @still.image.url(:medium) %></a>
    </li>
  <% end %>
</ul>
