
<h2 class='still-title'>{{model.name}}</h2>

<img src="{{model.still.large_image_url}}"/>

  {{#each textTags as |tag|}}
    {{#link-to 'stills.index' (query-params tagId=tag)}}{{tag}}{{/link-to}}
  {{/each}}
