@import 'reset';
@import 'settings';
@import 'index';

@import 'components/stills-list';

@import 'templates/application';

.still-show {
  height: auto;
  width: 100%;
}

.still-form img {
  max-width: 30vw;
  height: auto;
}
