@import 'reset';
@import 'settings';
@import 'index';

@import 'components/stills-list';

@import 'templates/application';

.still-show {
  height: auto;
  width: 100%;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.modal .spinner {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
}

.still-form img {
  max-width: 30vw;
  height: auto;
}
