body, header, div, section,
li, p, a, ul, h1, h2, h3,
article {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.display-none {
  display: none;
}
