.films {
  margin: 0 $max-content-width / 4 20px;

  @media #{$small-computer} {
    margin: 0 $main-content-width / 4;
  }

  @media #{$media-phone} {
    margin: 0 $max-media-phone-width / 4;
  }

  @media #{$small-phone} {
    margin: 0;
  }
}

.films-list {
  &__title {
    font-size: $base-font-size * 2;
    padding-bottom: $column-gutter / 2;
  }

  &__items {
    margin: 5px 0;
  }

  &__item {
    padding-bottom: $column-gutter / 2;
  }
}

.films-list-item {
  &__title {
    color: gray;

    &:hover {
      color: black;
    }
  }
}
