.films-list {
  &__title {
    font-size: $base-font-size * 2;
    padding-bottom: $column-gutter / 2;
  }

  &__items {
    padding-left: $column-gutter / 2;
  }

  &__item {
    padding-bottom: $column-gutter / 2;
  }
}

.films-list-item {
  &__title {
    color: gray;

    &:hover {
      color: black;
    }
  }
}
