.film-add {
  text-align: center;

  &__title {
    font-size: $base-font-size * 1.5;
  }
}

.film-add-form {
  &__errors {

  }

  &__actions {
    margin-top: $column-gutter / 2;
    display: inline-block;
    text-align: left;
    width: 80%;
  }

  &__input {
    > input, .ember-power-select {
      border: 1px solid black;
      display: inline-block;
      padding: 0;
      font-size: $base-font-size;
      margin: $column-gutter / 2 0;
      text-align: center;
      width: 80%;
    }

    .ember-power-select > div {
      border: none;
    }
  }
}

.film-add-form-actions {
  &__create {
    background: lighten(green, 10%);
    color: white;

    &:hover {
      background: green;
    }
  }

  &__cancel {
    background: lighten(red, 10%);
    color: white;

    &:hover {
      background: darken(red, 10%);
    }
  }
}
