.still-add {
  text-align: center;

  &__title {
    font-size: $base-font-size * 1.5;
  }
}

.still-add-form {
  &__error {
    color: red;
    display: block;
    font-size: $base-font-size;
    height: $base-font-size;
  }

  &__actions {
    margin-top: $column-gutter / 2;
    display: inline-block;
    text-align: left;
    width: 80%;
  }

  &__upload-button {
    background: lighten(gray, 20%);
    font-size: $base-font-size;
  }

  &__upfile {
    height: 0px;
    width: 0px;
    overflow:hidden;
  }

  &__preview {
    height: 0px;
    visibility: hidden;

    &--show {
      height: auto;
      padding: $column-gutter $column-gutter 0;
      margin: 0 auto;
      visibility: visible;
    }
  }

  &__image {
    display: inline;
    max-width: 75vw;
    height: auto;
  }

  &__input {
      margin: $column-gutter 0;

    > input, .ember-power-select {
      border: 1px solid black;
      display: inline-block;
      padding: 0;
      font-size: $base-font-size;
      text-align: center;
      width: 80%;
    }

    .ember-power-select {
      margin: 0;
    }

    .ember-power-select > div {
      border: none;
    }

    .ember-power-select-trigger-multiple-input {
      text-align: center;
    }

    .ember-power-select-options {
      border: 1px solid black;
    }
  }
}

.still-add-form-actions {
  &__create {
    background: lighten(green, 10%);
    color: white;

    &:hover {
      background: green;
    }
  }

  &__cancel {
    background: lighten(red, 10%);
    color: white;

    &:hover {
      background: darken(red, 10%);
    }
  }
}

form .add-files-header {
  margin-bottom: 20px;
}
.still-batch-add-form {
    margin-bottom: 40px;

    .still-batch-add-form__add-files {
    margin: 0 auto;
    width: 80%;

    .drop-zone-area {
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .upload-image {
        display: block;
        text-decoration: underline;
        margin: 0 auto;
        padding: 10px;
    }
    }

    .still-batch-direction {
        position: relative;

        .still-batch-prev {
            position: absolute;
            left: 0;
            top: 50%;
        }

        .still-batch-next {
            position: absolute;
            right: 0;
            top: 50%;
        }
    }
}
