<header>
  <h1 id="title">Good Still Hunting</h1>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'films'}}Films{{/link-to}}
  {{#link-to 'films.new'}}Add Film{{/link-to}}
</header>

{{outlet}}

<footer>
  <p>
    Good Still Hunting c2015
  </p>
</footer>
