<<<<<<< Updated upstream
<h2 id="title">Good Still Hunting</h2>

=======
<header>
  <h1 id="title">Good Still Hunting</h1>
  {{#link-to 'movies'}}Films{{/link-to}}
  {{#link-to 'stills'}}Stills{{/link-to}}
</header>
>>>>>>> Stashed changes
{{outlet}}

<footer>
  <p>
    Good Still Hunting c2015
  </p>
</footer>
