<header>
  {{#link-to 'dashboard.index'}}<h1 id="title">Good Still Hunting</h1>{{/link-to}}
  {{#link-to 'dashboard.films'}}Films{{/link-to}}
  {{#link-to 'dashboard.stills'}}Stills{{/link-to}}
  {{#link-to 'dashboard.films.new'}}Add Film{{/link-to}}
  {{#link-to 'dashboard.stills.new'}}Add Still{{/link-to}}

  {{search-form}}

  <a href="#" {{action 'logout'}}>Logout</a>
</header>

{{outlet}}

<footer>
  <p>
    Good Still Hunting &#169;2015
  </p>
</footer>
