<header>
  <h1 id="title">Good Still Hunting</h1>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'films'}}Films{{/link-to}}
  {{#link-to 'films.new'}}Add Film{{/link-to}}
  {{#link-to 'stills.new'}}Add Still{{/link-to}}

  {{search-form searchStills=(action 'searchStills')}}

</header>

{{outlet}}

<footer>
  <p>
    Good Still Hunting &#169;2015
  </p>
</footer>
