<header>
    {{#link-to 'index'}}<h1 id="title">Good Still Hunting</h1>{{/link-to}}
  {{#if currentUser}}
    {{#link-to 'films'}}Films{{/link-to}}
    {{#link-to 'stills'}}Stills{{/link-to}}
    {{#link-to 'films.new'}}Add Film{{/link-to}}
    {{#link-to 'stills.new'}}Add Still{{/link-to}}

    {{search-form search=(action 'searchStills')}}
  {{else}}
    {{#link-to "sign-up"}}Sign Up{{/link-to}}
    {{#link-to "sign-in"}}Sign In{{/link-to}}
  {{/if}}

</header>

  {{outlet}}

  <script type="text/javascript">
    $(document).ready(function(){
      $('body').height($(document).height() + 1);
      $(window).scroll(function() {
        if($(window).height() + $(window).scrollTop() === $(document).height()) {
          if($('.load-button')){
            $('.load-button').click();
          }
        }
      });
    });
  </script>

<footer>
  <p>
    Good Still Hunting &#169;2015
  </p>
</footer>
