<form {{action 'submitSearch' on="submit"}}>
  <span><i class="fa fa-search"></i></span>
  <span> <i>|</i> </span>
  <span class="search-wrapper">
    {{input type="text" placeholder="Search for stills..." value=searchInput}}
  </span>
</form>
