<div class="page-side-panel__links">
    <a href='/films' class="page-side-panel__link" {{action "toggleSidePanel" "dashboard.films"}}>
        <span>See All Films</span>
    </a>

    <a href='/films/new' class="page-side-panel__link" {{action "toggleSidePanel" "dashboard.films.new"}}>
        <span>Add a Film</span>
    </a>

    <a href='/stills/new' class="page-side-panel__link" {{action "toggleSidePanel" "dashboard.stills.new"}}>
        <span>Add a Still</span>
    </a>
</div>
