{{#each model as |still|}}
  {{#link-to 'stills.still' still.id}}
    <img src="{{still.medium_image_url}}"/>
  {{/link-to}}
{{/each}}

<span {{action 'loadNext'}} class='load-button'></span>
<script type="text/javascript">
  $(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
    $('.load-button').click();
   }
  });
</script>
