<section class="stills-list__items group">
  {{#each stills as |still|}}
  <div class="stills-list-items__still">
    {{#link-to 'dashboard.stills.still' still.id}}
      <img src="{{still.medium_image_url}}"/>
    {{/link-to}}
  </div>
  {{/each}}
</section>

{{#if endOfList}}
  <div class="stills-list-items__end">
    <article>No More Stills, Bro...</article>
  </div>
{{/if}}

<span {{action 'onLoadNext'}} class='load-button'></span>

{{#if isLoading}}
  <div class="modal">
    {{ember-spinner
      lines=12
      radius=10
      width=5
      rotate=0
      speed='3.4'
      zIndex='5000'
      color='orange'}}
  </div>
{{/if}}
