<%= paginate @stills %>

<ul class="group still-list">
  <% i = 0 %>
  <% @stills.each do |still| %>
    <% i+=1 %>
  <li><a href="<%= still_url(still) %>"><img src="<%= still.image.url(:medium)%>"/></a></li>
  <% if i == 3 %>
    <br>
    <% i = 0 %>
  <% end %>
  <% end %>
</ul>
