.page-wrapper {
  position: relative;
  height: 100%;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 100;

  &__navigation {
    padding: $column-gutter / 2;
  }

  &__navigation {
    background: black;
    color: white;
    padding: $column-gutter / 2 $column-gutter;
    position: relative;
    line-height: $logo-height;
    z-index: 2;
  }

  &__search {
    background: white;
    border-top: 1px solid black;
    padding: 0px 5px;
    position: relative;
    z-index: 1;
  }

  i.fa.fa-bars {
    vertical-align: middle;
    font-size: $logo-height;
  }
}

.main-header-navigation {
  &__link {
    cursor: pointer;
    line-height: $logo-height;
    margin-left: 5px;

    &:hover {
      color: lighten(gray, 20%);
    }

    &:last-of-type {
      float: right;
    }

    img {
      width: auto;
      height: $logo-height;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.main-header-search {
  &__input {
    display: inline-block;
    font-weight: 100;
    width: 100%;

    span {
      display: table-cell;
    }

    .search-wrapper {
      display: table-cell;
      width: 100%;

      input {
        background: lighten(gray, 50%);
        border: 0;
        font-size: 12px;
        line-height: 34px;
        width: 100%;
      }
    }
  }
}

.main-content {
  height: calc(100% - #{$header-height} - #{$footer-height});
  margin: 0 auto;
  max-width: $max-content-width;
  padding-top: $header-height;
  padding-bottom: $footer-height;

  @media #{$small-computer} {
    max-width: $main-content-width;
  }

  @media #{$media-phone} {
    max-width: $max-media-phone-width;
  }

  @media #{$small-phone} {
    max-width: $max-phone-width;
  }
}

.main-footer {
  background: lighten(black, 20%);
  bottom: 0;
  height: $footer-height;
  position: fixed;
  width: 100%;

  &__copyright {
    color: white;
    font-size: $base-font-size;
    text-align: center;
  }
}

.main-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
