.page-wrapper {
  position: relative;
  height: 100%;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 100;

  &__navigation, &__search {
    padding: $column-gutter / 2;
  }

  &__navigation {
    background: black;
    color: white;
  }

  &__search {
    background: white;
  }
}

.main-header-navigation {
  &__link {
    font-size: $base-font-size;
    margin-left: $column-gutter / 2;

    &:hover {
      color: lighten(gray, 20%);
    }
  }
}

.main-header-search {
  &__input {
    display: inline-block;
    font-weight: 100;
    width: 100%;

    span {
      display: table-cell;
    }

    .search-wrapper {
      display: table-cell;
      width: 100%;

      input {
        background: lighten(gray, 50%);
        border: 0;
        width: 100%;
      }
    }
  }
}

.main-content {
  height: calc(100% - #{$header-height} - #{$footer-height});
  margin: 0 auto;
  max-width: $max-content-width;
  padding-top: $header-height;
  padding-bottom: $footer-height;

  @media #{$small-computer} {
    max-width: $main-content-width;
  }

  @media #{$media-phone} {
    max-width: $max-media-phone-width;
  }

  @media #{$small-phone} {
    max-width: $max-phone-width;
  }
}

.main-footer {
  background: lighten(black, 20%);
  bottom: 0;
  height: $footer-height;
  position: fixed;
  width: 100%;

  &__copyright {
    color: white;
    font-size: $base-font-size;
    text-align: center;
  }
}

.main-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
