.page-side-panel {
    // border: 1px solid black;
    box-sizing: border-box;
    background: lightgrey;
    height: 0px;
    // opacity: 0;
    transition: height 0.5s, visibility 0.5s, linear;
    z-index: -1;
    width: 100%;

    // @media #{$small-computer} {
    //   width: calc(#{$main-content-width} / 3);
    // }
    //
    // @media #{$media-phone} {
    //   width: calc(#{$max-media-phone-width} / 2);
    // }
    //
    // @media #{$small-phone} {
    //   width: #{$max-phone-width};
    // }

    &__links {
        display: flex;
        flex-direction: row;
    }

    &__link {
        align-self: center;
        font-size: 12px;
        padding: 5px 0px;
        width: auto;

        span {
            padding: 0px 5px;
            border-right: 1px solid black;
        }

        &:last-child span {
            border: 0;
        }
    }
}

.display-side-panel {
    height: $logo-height;
}
