.stills-list {
  margin-top: $header-height;

  &__items {
    overflow: hidden;
  }

  &__end {
    text-align: center;
  }
}

.stills-list-items {
  &__still {
    background: black;
    float: left;
    height: $still-height;
    overflow: hidden;
    width: $still-width;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &--end {
      background: white;
      width: 100%;

      article {
        border: 1px solid black;
        color: gray;
        left: 50%;
        padding: $column-gutter / 2 $column-gutter * 2;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.spinner-modal, .still-solo-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-modal {
  z-index: 11;
}

.still-solo-modal {
  background: black;
  position: fixed;
  overflow: hidden;
  height: $still-height * 2;
  width: $still-width * 4;
  z-index: 10;

  @media #{$small-computer} {
    height: $still-height * 2;
    width: $still-width * 3;
  }

  @media #{$media-phone} {
    height: $still-height;
    width: $still-width * 2;
  }

  @media #{$small-phone} {
    height: $still-height * 2;
    width: $still-width;
  }

  &__image {
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 50%;

    @media #{$small-computer} {
      height: auto;
      width: 66.6%;
    }

    @media #{$media-phone} {
      height: auto;
      width: 50%;
    }

    @media #{$small-phone} {
      top: 0%;
      left: 25%;
      transform: translate(-25%, 0%);
      // position: relative;
      height: 50%;
      width: 100%;
    }
  }

  &__info {
    float: right;
    background: white;
    height: $still-height * 2;
    width: $still-width * 2;
    overflow: scroll;
    // padding: $column-gutter / 2;
    position: relative;

    @media #{$small-computer} {
      height: $still-height * 2;
      width: $still-width;
    }

    @media #{$media-phone} {
      height: $still-height;
      width: $still-width;
    }

    @media #{$small-phone} {
      // display: none;
      bottom: 0%;
      left: 25%;
      transform: translate(-25%, 0%);
      position: absolute;
      height: 50%;
      width: 100%;
    }
  }

  &__wrapper {
    height: inherit;
  }

  &__exit {
    color: red;
    position: fixed;
    padding: $column-gutter / 4;
    right: 0;
    top: 0;

    &:hover {
      color: darken(red, 30%);
    }
  }
}

.still-solo-modal-info {
  &__title, &__tags, &__name {
    text-align: center;
  }

  &__title {
    font-size: $base-font-size * 1.5;
    padding-top: $column-gutter / 2;

    a:hover {
      color: gray;
    }
  }

  &__tags {
    color: lighten(blue, 20%);
    padding-bottom: $column-gutter;
  }

  &__tag {
    margin: $column-gutter / 2;

    &:hover {
      color: darken(blue, 30%);
    }
  }
}
