.stills {
  background: black;
}

.stills-list {
  margin-top: $header-height;

  &__items {
    background: black;
    overflow: hidden;
  }

  &__end {
    text-align: center;
  }
}

.stills-list-items {
  position: relative;

  &__still {
    overflow: hidden;
    width: $still-width;
    height: $still-height;
    float: left;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__end {
    display: block;
    height: $still-height / 2;
    position: relative;

    article {
      top: 50%;
      left: 50%;
      position: absolute;
      color: white;
      transform: translate(-50%, -50%);
    }
  }
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
