.stills-list {
    margin-top: $header-height;

    &__title {
        background: white;
        font-size: 20px;
        font-weight: 300;
        padding: 10px 0;
        position: fixed;
        top: $header-height - 1px;
        width: 100%;
        z-index: 1;
    }

    &__items {
      position: relative;
      margin-top: 44px;
      left: -100%;

      &--show {
        left: 0%;
        transition: left .2s;
      }

    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-around;
    //     overflow: hidden;
    //
    //     &--no-title {
    //         margin-top: 28px;
    //     }
    }

    &__end {
        text-align: center;
    }
}

.stills-list-items {
  position: relative;
    &__still {
        // background: black;
        // float: left;
        // height: $still-height;
        // overflow: hidden;
        // width: $still-width;
        // position: relative;

        img {
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
            // visibility: hidden;
            width: 296px;
            height: auto;
            padding: 2px;
        }

        &--on-page {
            img {
                visibility: visible;
            }
        }

        &--end {
            background: white;
            bottom: -116px;
            height: 120px;
            position: absolute;
            width: 100%;

            article {
                border: 1px solid black;
                color: gray;
                left: 50%;
                padding: $column-gutter / 2 $column-gutter * 2;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.spinner-modal, .still-solo-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-modal {
    z-index: 11;
}

.still-solo-modal {
    background: black;
    border: $column-gutter / 2 solid lighten(black, 15%);
    position: fixed;
    overflow: hidden;
    height: $still-height * 2;
    width: $still-width * 4;
    z-index: 10;

    @media #{$small-computer} {
        height: $still-height * 2;
        width: $still-width * 3;
    }

    @media #{$media-phone} {
        height: $still-height;
        width: $still-width * 2;
    }

    @media #{$small-phone} {
        height: $still-height * 2;
        width: $still-width;
    }

    &__image {
        float: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        width: 50%;

        @media #{$small-computer} {
            height: auto;
            width: 66.6%;
        }

        @media #{$media-phone} {
            height: auto;
            width: 50%;
        }

        @media #{$small-phone} {
            top: 0%;
            left: 25%;
            transform: translate(-25%, 0%);
            // position: relative;
            height: 50%;
            width: 100%;
        }
    }

    &__info {
        float: right;
        background: white;
        height: $still-height * 2;
        width: $still-width * 2;
        overflow: scroll;
        // padding: $column-gutter / 2;
        position: relative;

        @media #{$small-computer} {
            height: $still-height * 2;
            width: $still-width;
        }

        @media #{$media-phone} {
            height: $still-height;
            width: $still-width;
        }

        @media #{$small-phone} {
            // display: none;
            bottom: 0%;
            left: 25%;
            transform: translate(-25%, 0%);
            position: absolute;
            height: 50%;
            width: 100%;
        }
    }

    &__wrapper {
        height: inherit;
    }

    &__exit {
        color: red;
        position: absolute;
        padding: $column-gutter / 4;
        right: 0;
        top: 0;
        z-index: 12;
        cursor: pointer;

        &:hover {
            color: darken(red, 30%);
        }
    }
}

.still-solo-modal-info {
    &__title, &__tags, &__name {
        text-align: center;
    }

    &__title {
        font-size: $base-font-size * 2;
        padding: $column-gutter / 2 0;

        a:hover {
            color: gray;
        }
    }

    &__tags {
        color: lighten(blue, 20%);
        padding: $column-gutter / 2 0;
    }

    &__tag {
        margin: $column-gutter / 2;

        button {
          border: none;
          border-radius: 2px;
          margin: 5px;
          background: #ededed;
        }

        &:hover {
            color: darken(blue, 30%);
        }
    }
}
