.stills-list {
  &__items {
    background: black;
    overflow: hidden;
  }

  &__end {
    text-align: center;
  }
}

.stills-list-items {
  &__still {
    overflow: hidden;
    width: 300px;
    height: 188px;
    float: left;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &--end span {
      top: 50%;
      left: 50%;
      position: absolute;
      color: white;
      transform: translate(-50%, -50%);
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
