.stills-list {
    margin-top: $header-height;

    &__title {
        background: white;
        font-size: 20px;
        font-weight: 300;
        padding: 10px 0;
        position: fixed;
        top: $header-height - 1px;
        width: 100%;
        z-index: 1;
    }

    &__items {
      position: relative;
      margin-top: 44px;
      left: -100%;

      &--show {
        left: 0%;
        transition: left .2s;
      }

    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-around;
    //     overflow: hidden;
    //
    //     &--no-title {
    //         margin-top: 28px;
    //     }
    }

    &__end {
        text-align: center;
    }
}

.stills-list-items {
  position: relative;
    &__still {
        // background: black;
        // float: left;
        // height: $still-height;
        // overflow: hidden;
        // width: $still-width;
        // position: relative;

        img {
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
            // visibility: hidden;
            width: 296px;
            height: auto;
            padding: 2px;
        }

        &--on-page {
            img {
                visibility: visible;
            }
        }

        &--end {
            background: white;
            bottom: -116px;
            height: 120px;
            position: absolute;
            width: 100%;

            article {
                border: 1px solid black;
                color: gray;
                left: 50%;
                padding: $column-gutter / 2 $column-gutter * 2;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.spinner-modal, .still-solo-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-modal {
    z-index: 11;

  & .load {
    position:absolute;
    font-size: 25px;
    width:600px;
    height:36px;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;

    &--black {
      color: #000;
    }

    &--white {
      color: #f6f6f6;
    }
  }

  .load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
  }

  .load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
  }
  .load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }
  .load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
  }
  .load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
  }
  .load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
  }
  .load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
  }

  @keyframes move {
    0% {
      left:0;
      opacity:0;
    }
    35% {
      left: 41%; 
      -moz-transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      left:59%; 
      -moz-transform:rotate(0deg); 
      -webkit-transform:rotate(0deg); 
      -o-transform:rotate(0deg);
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%; 
      -moz-transform:rotate(-180deg); 
      -webkit-transform:rotate(-180deg); 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }

  @-moz-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      left:59%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    100% {
      left:100%; 
      -moz-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }

  @-webkit-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      left:59%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%;
      -webkit-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }

  @-o-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      left:59%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%; 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }
}

.still-solo-modal {
    background: black;
    border: $column-gutter / 2 solid lighten(black, 15%);
    position: fixed;
    overflow: hidden;
    height: $still-height * 2;
    width: $still-width * 4;
    z-index: 10;

    @media #{$small-computer} {
        height: $still-height * 2;
        width: $still-width * 3;
    }

    @media #{$media-phone} {
        height: $still-height;
        width: $still-width * 2;
    }

    @media #{$small-phone} {
        height: $still-height * 2;
        width: $still-width;
    }

    &__image {
        float: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        width: 50%;

        @media #{$small-computer} {
            height: auto;
            width: 66.6%;
        }

        @media #{$media-phone} {
            height: auto;
            width: 50%;
        }

        @media #{$small-phone} {
            top: 0%;
            left: 25%;
            transform: translate(-25%, 0%);
            // position: relative;
            height: 50%;
            width: 100%;
        }
    }

    &__info {
        float: right;
        background: white;
        height: $still-height * 2;
        width: $still-width * 2;
        overflow: scroll;
        // padding: $column-gutter / 2;
        position: relative;

        @media #{$small-computer} {
            height: $still-height * 2;
            width: $still-width;
        }

        @media #{$media-phone} {
            height: $still-height;
            width: $still-width;
        }

        @media #{$small-phone} {
            // display: none;
            bottom: 0%;
            left: 25%;
            transform: translate(-25%, 0%);
            position: absolute;
            height: 50%;
            width: 100%;
        }
    }

    &__wrapper {
        height: inherit;
    }

    &__exit {
        color: red;
        position: absolute;
        padding: $column-gutter / 4;
        right: 0;
        top: 0;
        z-index: 12;
        cursor: pointer;

        &:hover {
            color: darken(red, 30%);
        }
    }
}

.still-solo-modal-info {
    &__title, &__tags, &__name {
        text-align: center;
    }

    &__title {
        font-size: $base-font-size * 2;
        padding: $column-gutter / 2 0;

        a:hover {
            color: gray;
        }
    }

    &__tags {
        color: lighten(blue, 20%);
        padding: $column-gutter / 2 0;
    }

    &__tag {
        margin: $column-gutter / 2;

        button {
          border: none;
          border-radius: 2px;
          margin: 5px;
          background: #ededed;
        }

        &:hover {
            color: darken(blue, 30%);
        }
    }
}
